body {
  background-color: aliceblue;
  font-family: sans-serif; }

.container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  position: relative; }

.imgContainer {
  position: relative; }

.matched {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px; }

.matchedShape {
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px; }
